.contentWrapper {
    max-width: 1200px;
    height: 100vh;//ocupar a tela toda verticalmente
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 453px;
    column-gap: 120px; //distancia entre as duas colunas
    position: relative;
}